{% extends 'layout.html' %}

{% block title %}行程信息修改{% endblock %}

{% block retrunButton %}
  <!-- <a href="/" data-role="button" data-icon="back"  class="ui-btn-right"></a>  -->
  <a href="/" data-role="button" data-icon="back" data-iconpos="notext">返回</a>
{% endblock %}

{% block content %}
  <p><font color="#FF0000">注意: 修改行程会取消所有订单,修改行程前请先通知乘客</font></p>
  <form action="/todo/update" method="post">
   <input type="hidden" value="{{ todo._id.toString() }}" name="id">
   <input type="text" value="{{ todo.carOwnerName}}" placeholder="车主姓名" name="CarOwnerName" />
   <input type="text" value="{{ todo.car.carNumberPlate}}" placeholder="车牌(车牌尾号)" name="CarNumberPlate" />
   <input type="text" value="{{ todo.car.carName}}" placeholder="车辆名称(例:标致508)" name="CarName" />
   <input type="text" value="{{ todo.car.carColor}}" placeholder="车辆颜色" name="CarColor" />
   <input type="text" value="{{ todo.mobilePhone}}" placeholder="手机" name="MobilePhone" />
   <input type="date" value="{{ todo.setoffDate}}" placeholder="出发日期" name="SetoffDate" />
   <input type="time" value="{{ todo.setoffTime}}" placeholder="出发时间" name="SetoffTime" />
   <input type="text" value="{{ todo.destination}}" placeholder="终点" name="Destination" />
   <textarea cols="40" rows="5" name="RoutePoint">{{ todo.routePoint}}</textarea>
   <input type="text" value="{{ todo.car.carSeatsCount}}" placeholder="空余座位" name="CarSeatsCount" value="4"/>
   <input type="text" value="{{ todo.description}}" placeholder="备注" name="description" />
   <input type="submit" value="修改" />
  </form>
{% endblock %}
