{% extends 'layout.html' %}

{% block title %}创建一个行程{% endblock %}

{% block retrunButton %}
   <a href="/todo/new" data-role="button" data-icon="plus" data-iconpos="notext">创建一次行程</a>
{% endblock %}
 
{% block content %}
  <p>现在已经有 <strong>{{ todos.length }}</strong>车辆 准备出发</p> 
   
  <h2>所有行程</h2>
  <ul data-role="listview" data-inset="true" data-filter="true">
    {% for todo in todos %}
        <div data-role="collapsible">
          <h1>{{ todo.car.carName }}, {{ todo.car.carSeatsCount - todo.customer.length }}</h1>
           <p>
              途经: {{ todo.routePoint }}</br>
              <a href="/todo/{{ todo._id.toString() }}"> 查看详情</a>
           </p>
        </div>
    {% endfor %}
  </ul>
  
{% endblock %}
