{% extends 'layout.html' %}

{% block title %}创建一个行程{% endblock %}

{% block pageone_header %}
 <a href="/bookingcar/new" data-role="button" data-icon="plus" data-iconpos="notext">test</a>
{% endblock %}
 
{% block pageone_content %}
  <p>现在已经有 <strong>{{ bookingcar.length }}</strong>车辆 准备出发</p> 
   
  <h2>所有行程</h2>
  <ul data-role="collapsible-set" data-inset="true" data-filter="true" style="margin:0;padding:0">
    {% for carowner in bookingcar %}
        <div data-role="collapsible">
          <h1>{{ carowner.car.carName }}, 出发时间: {{ carowner.setoffTime }}, 剩余座位:{{ carowner.car.carSeatsCount - carowner.customer.length }}</h1>
           <p>
              途经: {{ carowner.routePoint }}</br>
              <a href="/bookingcar/{{ bookingcar._id.toString() }}"> 查看详情</a>
              <a href="/bookingcar/edit/{{ bookingcar._id.toString() }}"> 修改行程</a>
              <a href="#popupdelete" data-rel="popup" data-position-to="window" data-transition="pop"> 删除行程</a>
              <div data-role="popup" id="popupdelete" data-theme="a" class="ui-corner-all">
                  <form action="/bookingcar/delete/{{ bookingcar._id.toString()}}">
                      <div style="padding:10px 20px;">
                          <h3>请输入管理员密码</h3>
                          <label for="pw" class="ui-hidden-accessible">Password:</label>
                            <input type="password" name="pass" id="pw" value="" placeholder="请输入管理员密码" data-theme="a">
                          <button type="submit">删除</button>
                      </div>
                  </form>
              </div>
           </p>
        </div>
    {% endfor %}
  </ul>
  
{% endblock %}
 

{% block pagetwo_header %}
   <a href="/bookingcar/new" data-role="button" data-icon="plus">test</a>
{% endblock %}

{% block pagetwo_content %}
  <script type="text/javascript">
    $.mobile.changePage("#pagetwo");
  </script>
  <p>现在已经有 <strong>{{ bookingcar.length }}</strong>车主已注册</p> 
   
  <h2>所有车主</h2>
  <ul data-role="collapsible-set" data-inset="true" data-filter="true" style="margin:0;padding:0">
    {% for carowner in bookingcar %}
        <div data-role="collapsible">
          <h1>{{ carowner.carOwnerName }}</h1>
           <p>
              <a href="/bookingcar/{{ bookingcar._id.toString() }}"> 查看车主详情</a>
              <a href="/bookingcar/edit/{{ bookingcar._id.toString() }}"> 修改车主信息</a>
           </p>
        </div>
    {% endfor %}
  </ul>
{% endblock %}