{% extends 'layout.html' %}


{% block pageone_header %}
<a href="/">Home</a>
<h1>显示所有行程</h1>
<a href="/bookingcar/newrouteorder" data-role="button" data-icon="plus" data-iconpos="notext"></a>
{% endblock %}

{% block pageone_content %}
<p>现在已经有 <strong>{{ routeOrders.length }}</strong>行程 准备出发</p> 
<h2>所有行程</h2>
<ul data-role="listview" data-filter="true" data-inset="true">
{% for owner in carOwner %}
  {% for orderid in owner.routeOrder %}
      {% for order in routeOrders %}
          {% if orderid.routeOrderId == order._id.toString() %}
            <div data-role="collapsible" style="margin:0;padding:0">
      
              <h1>{{ owner.carOwnerName }} 终点:{{ order.destination }}</h1>
              <p>
                途经: {{ order.routePoint }}</br>
                <a href="/bookingcar/routeorder/{{ order._id.toString() }}/{{ owner._id.toString() }}"> 查看详情</a>
                <!-- <a href="/bookingcar/routeorder/edit/{{ order._id.toString() }}/{{ owner._id.toString() }}"> 修改行程</a> -->
                <!-- <a href="/bookingcar/routeorder/delete/{{ order._id.toString() }}/{{ owner._id.toString() }}"> 删除行程</a> -->
              </p>
            </div>
          {% endif %}
      {% endfor %}
  {% endfor %}
{% endfor %}
</ul>
{% endblock %}