{% extends 'layout.html' %}
<!-- pagetwo的继承 -->
{% block pageone_header %}
<a href="/">Home</a>
<h1>显示所有车主</h1>
<a href="/bookingcar/newcarowner" data-role="button" data-icon="plus" data-iconpos="notext"></a>
{% endblock %}

{% block pageone_content %}

<p>现在已经有 <strong>{{ carOwner.length }}</strong>车主已注册</p> 
<h2>所有车主</h2>

<ul data-role="listview" data-filter="true">
  
  {% for owner in carOwner %}

    <div data-role="collapsible" style="margin:0;padding:0">
      <h1>{{ owner.carOwnerName }}</h1>
      <p>
        <a href="/bookingcar/carowner/{{ owner._id.toString() }}"> 查看详情</a>
        <a href="/bookingcar/carowner/edit/{{ owner._id.toString() }}"> 修改信息</a>
        <a href="/bookingcar/carowner/delete/{{ owner._id.toString() }}"> 删除信息</a>
      </p>
    </div>
  
  {% endfor %}

</ul>

{% endblock %}