{% extends 'layout.html' %}

{% block title %}创建一个车主{% endblock %}


{% block retrunButton %}
  <a href="/" data-role="button" data-icon="back" data-iconpos="notext">返回</a>
{% endblock %}
{% block content %}
  <form action="/todo/create" method="post">
  <!-- <p>ste:{{session.loginid}}</p> -->

    {% if !session.loginid %}
       <input type="text" placeholder="车主姓名" name="CarOwnerName" />
       <input type="text" placeholder="车牌(车牌尾号)" name="CarNumberPlate" />
       <input type="text" placeholder="车辆名称(例:标致508)" name="CarName" />
       <input type="text" placeholder="车辆颜色" name="CarColor" />
    {% endif %}

    <input type="text" placeholder="手机" name="MobilePhone" />
    <input type="datetime" placeholder="出发时间" name="SetoffTime" />
    <input type="text" placeholder="途径地点" name="RoutePoint" />
    <input type="text" placeholder="空余座位" name="CarSeatsCount" value="4"/>
    <input type="text" placeholder="备注" name="description" />
    <input type="submit" value="创建" />
  </form>
{% endblock %}

