{% extends 'layout.html' %}

{% block title %}创建一个车主{% endblock %}


{% block pageone_header %}
<a href="/" data-role="button" data-icon="back" data-iconpos="notext">返回</a>
{% endblock %}

{% set foo = { pagename: "创建一个行程" } %}

{% block pageone_content %}
  <form action="/bookingcar/createrouteorder" method="post">
  <!-- <p>ste:{{session.loginid}}</p> -->

    {% if !session.loginid %}
      
    {% endif %}

    
    <select name="OwnerName" data-native-menu="false">
      <option>请选择一个车主</option>
      {% for owner in carOwner %}
        <option value="{{ owner._id.toString() }}" name="option">{{ owner.carOwnerName }}</option>
      {% endfor %}
    </select>
    <input type="text" placeholder="出发日期" onfocus="this.type='date';this.setAttribute('onfocus','');this.blur();this.focus();" name="SetoffDate"/>
    <input type="text" placeholder="出发时间" onfocus="this.type='time';this.setAttribute('onfocus','');this.blur();this.focus();" name="SetoffTime" />
    <input type="text" placeholder="终点" name="Destination" />
    <textarea cols="40" placeholder="途径地点 例如: 软件园二期文思海辉大厦,数字山谷大厦(从一期西门入的第一个十字路口) 中间用逗号隔开" rows="8" name="RoutePoint"></textarea>
    <input type="text" placeholder="空余座位" name="CarSeatsCount" value="4"/>
    <input type="text" placeholder="备注" name="description" />
    <input type="submit" value="创建" />
  </form>
{% endblock %}
