{% extends 'layout.html' %}

{% block title %}{{ todo.name }}{% endblock %}

{% block content %}
  <p>车主称呼: {{ todo.carOwnerName }}</p>
  <p>行程路线: {{ todo.routePoint }}</p>
  <p>车牌: {{ todo.car.carNumberPlate }}</p>
  <p>车型: {{ todo.car.carName }}</p>
  <p>车身颜色: {{ todo.car.carColor }}</p>
  <p>座位数量: {{ todo.car.carSeatsCount }}</p>
  <ul class="th">
    <li>顾客称呼</li>
    <li>顾客电话</li>
    <li>等车地点</li>
  </ul>
  {% for customerObj in todo.customer %}
  <ul>
    <li>{{ customerObj.customerName }}</li>
    <li>{{ customerObj.customerPhoneNumber }}</li>
    <li>{{ customerObj.customerLocation }}</li>
  </ul>
  {% endfor %}

  <p><em>Created On: </i> {{ todo.created_on.toDateString() }}</p>
  <p><i>Last Updated On: </i> {{ todo.updated_on.toDateString() }}</p>
  <p><a href="/">Back to List</a></p>
{% endblock %}
